apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: dev-apps
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: https://github.com/yourorg/k8s-apps
      revision: main
      directories:
      - path: environments/dev/*
  template:
    metadata:
      name: 'dev-{{path.basename}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/yourorg/k8s-apps
        targetRevision: main
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true

