apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sample-app-staging
namePrefix: staging-
commonLabels:
  env: staging
resources:
- ../../base
replicas:
- name: sample-app
  count: 3
patches:
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: "256Mi"
  target:
    kind: Deployment

