{{- if .Values.ingress.enabled }}
---
# Basic Ingress resource for Kong
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}
  annotations:
    kubernetes.io/ingress.class: kong
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: kong
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: {{ .Values.ingress.path }}
        pathType: Prefix
        backend:
          service:
            name: {{ .Chart.Name }}
            port:
              number: {{ .Values.service.port }}
{{- end }}

{{- if .Values.kong.plugins.rateLimit.enabled }}
---
# Kong Plugin: Rate Limiting
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: {{ .Chart.Name }}-rate-limit
plugin: rate-limiting
config:
  minute: {{ .Values.kong.plugins.rateLimit.minute }}
  policy: local
{{- end }}

{{- if .Values.kong.plugins.cors.enabled }}
---
# Kong Plugin: CORS
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: {{ .Chart.Name }}-cors
plugin: cors
config:
  origins:
  {{- range .Values.kong.plugins.cors.origins }}
  - {{ . }}
  {{- end }}
  methods:
  - GET
  - POST
  - PUT
  - DELETE
  - OPTIONS
  headers:
  - Accept
  - Accept-Version
  - Content-Length
  - Content-Type
  - Date
  - X-Auth-Token
  exposed_headers:
  - X-Auth-Token
  credentials: true
  max_age: 3600
{{- end }}

{{- if .Values.kong.plugins.requestTransformer.enabled }}
---
# Kong Plugin: Request Transformer
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: {{ .Chart.Name }}-request-transformer
plugin: request-transformer
config:
  add:
    headers:
    {{- range .Values.kong.plugins.requestTransformer.addHeaders }}
    - {{ . }}
    {{- end }}
{{- end }}

{{- if .Values.kong.advancedConfig.enabled }}
---
# KongIngress for advanced configuration
apiVersion: configuration.konghq.com/v1
kind: KongIngress
metadata:
  name: {{ .Chart.Name }}-advanced
proxy:
  protocol: http
  connect_timeout: 60000
  write_timeout: 60000
  read_timeout: 60000
route:
  methods:
  - GET
  - POST
  - PUT
  - DELETE
  strip_path: {{ .Values.kong.advancedConfig.stripPath }}
  preserve_host: {{ .Values.kong.advancedConfig.preserveHost }}
{{- end }}

